<!-- <nav class="navbar navbar-expand-lg navbar-light" style="background-color: rgb(231, 195, 195)">
  <div class="container-fluid">
    <a class="navbar-brand" href="/" style="font-size: 20px;">My Neighbourhood</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto mt-lg-0" style="text-decoration: none;">
        <li class="nav-item" style="margin-left:80px;">
          <form class="form-inline my-2 my-lg-0 ml-auto" action="{% url 'search_results' %}">
            <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="post">
            <button class="btn btn-outline-white btn-md my-2 my-sm-0 ml-3" type="submit">Search</button>
          </form>
        </li>
        {% if not user.is_authenticated %}
        <li class="nav-item px-5 text-decoration = none">
          <a class="nav-link" href="/accounts/register/" px-5>Sign Up</a>
        </li>
        <li class="nav-item px-5">
          <a class="nav-link" href="/accounts/login/" px-5>Sign In</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a  class="nav-link" href="{% url 'create-post' %}"> Add Neighbourhood </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'new-business' %}">Add a Business </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'contact-us' %}">Hood Contacts</a>
        </li>
        {% endif %}
        {% if user.is_authenticated %}
        <li class="nav-item px-2 mb-3 mb-lg-0">
          <a class="nav-link dropdown-toggle" href=" #" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
            aria-expanded="false">
            <img src="{{user.user_profile}}" alt="" class="avatar rounded-circle img-30">
          </a>
          <div class="dropdown-menu dropdown-menu-end bg-info" aria-labelledby="navbarDropdown" data-bs-popper="none">
            <a class="dropdown-item bg-info text-white" href="{% url 'new_profile'%}">Profile</a>
            <a class="dropdown-item bg-info text-white d-flex align-item-center" href="{% url 'logout'%}"
              px-5>Logout</a>
          </div>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav> -->